coreclaw-instagram-profile-intelligence.json
{
  "name": "CoreClaw Instagram账号情报 / Instagram Intel",
  "nodes": [
    {
      "id": "note-overview",
      "name": "Overview / 概览",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1700,
        -520
      ],
      "parameters": {
        "content": "## CoreClaw Instagram账号情报 / Instagram Intel\n\n**Purpose (EN):** Instagram profile intelligence.\n\n**用途:** Instagram账号情报.\n\nThis workflow uses the official CoreClaw node as the scraping source and combines standard n8n nodes for polling, deduplication, AI enrichment, routing, reporting, and destination payload preparation.\n\n用途: 以CoreClaw官方节点为数据来源，并结合n8n标准节点完成轮询、去重、AI增强、分流、报告和载荷准备。",
        "width": 760,
        "height": 380
      }
    },
    {
      "id": "note-parameters",
      "name": "Parameters / 参数",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -900,
        -520
      ],
      "parameters": {
        "content": "## Parameters / 参数\n\nEdit **Input Config / 输入配置** before running.\n\n**Example / 示例:**\n`username=instagram, limit=1`\n\n**Tips / 提示:**\n- Start with low limits for testing.\n- Increase wait_seconds for larger jobs.\n- Select your CoreClaw credential on each CoreClaw node after import.\n- 测试阶段建议使用较小数量.\n- 大批量任务请提高wait_seconds.\n- 导入后请在CoreClaw节点选择你的凭证.",
        "width": 700,
        "height": 380
      }
    },
    {
      "id": "note-flow",
      "name": "Flow / 流程",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1700,
        -120
      ],
      "parameters": {
        "content": "## Flow / 流程\n\n1. Trigger / 触发\n2. Input Config / 输入配置\n3. Start CoreClaw Run / 启动CoreClaw\n4. Wait + Poll / 等待并轮询\n5. Get Results / 获取结果\n6. Normalize + Deduplicate / 规范化并去重\n7. AI or Enrichment / AI或增强处理\n8. Prepare Payloads + Report / 准备载荷并生成报告\n\nUse **Success Summary / 成功摘要** to inspect final output.\n使用 **Success Summary / 成功摘要** 查看最终输出。",
        "width": 760,
        "height": 360
      }
    },
    {
      "id": "note-output",
      "name": "Outputs / 输出",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -900,
        -120
      ],
      "parameters": {
        "content": "## Outputs & Integrations / 输出集成\n\n**Output (EN):** Creator/brand account profile, opportunity score, partnership action.\n\n**输出:** 生成可用于业务系统的数据载荷、摘要和执行证据.\n\nRecommended next integrations:\n- Google Sheets / Google 表格\n- Airtable or CRM / Airtable 或 CRM\n- Slack alerts / Slack 提醒\n- Notion database / Notion 数据库\n- Gmail or email outreach / Gmail 或邮件外联",
        "width": 700,
        "height": 360
      }
    },
    {
      "id": "manual-trigger",
      "name": "Manual Trigger / 手动启动",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1460,
        120
      ],
      "parameters": {}
    },
    {
      "id": "input-config",
      "name": "Input Config / 输入配置",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1200,
        120
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "username",
              "name": "username",
              "value": "instagram",
              "type": "string"
            },
            {
              "id": "limit",
              "name": "limit",
              "value": 1,
              "type": "number"
            },
            {
              "id": "wait_seconds",
              "name": "wait_seconds",
              "value": 10,
              "type": "number"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "start-coreclaw-run",
      "name": "Start CoreClaw Run / 启动CoreClaw",
      "type": "n8n-nodes-coreclaw.coreClaw",
      "typeVersion": 1,
      "position": [
        -900,
        120
      ],
      "parameters": {
        "resource": "scraper",
        "operation": "run",
        "scraperSlug": {
          "__rl": true,
          "mode": "id",
          "value": "01KPD6M5YVHWCNQCRK3W1JD9W2"
        },
        "version": "v1.0.2",
        "customParams": "={\n  \"username\": [{\"string\": \"{{ $json.username }}\"}]\n}"
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "notesInFlow": true,
      "notes": "Select your CoreClaw API credential after import."
    },
    {
      "id": "wait-before-next-poll",
      "name": "Wait Before Poll / 等待轮询",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -640,
        120
      ],
      "parameters": {
        "resume": "timeInterval",
        "amount": "={{ Number($json.wait_seconds || 15) }}",
        "unit": "seconds"
      }
    },
    {
      "id": "get-run-status",
      "name": "Get Run Status / 获取状态",
      "type": "n8n-nodes-coreclaw.coreClaw",
      "typeVersion": 1,
      "position": [
        -380,
        120
      ],
      "parameters": {
        "resource": "run",
        "operation": "get",
        "runSlug": "={{ $('Start CoreClaw Run / 启动CoreClaw').item.json.run_slug }}"
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "notesInFlow": true,
      "notes": "Select your CoreClaw API credential after import."
    },
    {
      "id": "if-terminal",
      "name": "If Terminal / 是否结束",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -120,
        120
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "if-terminal",
              "leftValue": "={{ Number($json.status) }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "if-success",
      "name": "If Success / 是否成功",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        120,
        40
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "if-success",
              "leftValue": "={{ Number($json.status) }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "get-run-results",
      "name": "Get Run Results / 获取结果",
      "type": "n8n-nodes-coreclaw.coreClaw",
      "typeVersion": 1,
      "position": [
        380,
        -100
      ],
      "parameters": {
        "resource": "run",
        "operation": "getResults",
        "runSlug": "={{ $('Start CoreClaw Run / 启动CoreClaw').item.json.run_slug }}",
        "returnAll": false,
        "limit": "={{ Number($items(\"Input Config / 输入配置\")?.[0]?.json?.limit || 10) }}"
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "notesInFlow": true,
      "notes": "Select your CoreClaw API credential after import."
    },
    {
      "id": "normalize-records",
      "name": "Normalize Records / 规范化记录",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        -100
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return $input.all().map((item,index)=>{const r=item.json; const followers=Number(r.followers_count||r.followers||0); const posts=Number(r.posts_count||r.posts||0); const verified=Boolean(r.is_verified); const score=Math.min(100,(verified?30:0)+(followers>1000000?40:followers>100000?30:followers>10000?20:10)+(posts>100?15:5)); return {json:{record_key:String(r.id||r.account||r.profile_url||index).toLowerCase(),workflow_kind:'instagram_profile_intel',account:r.account||'',profile_name:r.profile_name||r.full_name||'',profile_url:r.profile_url||r.url||'',followers_count:followers,posts_count:posts,is_verified:verified,is_business_account:r.is_business_account,opportunity_score:score,priority:score>=70?'high':'normal',action:score>=70?'Shortlist for influencer or brand partnership review.':'Monitor profile for later campaign fit.',raw:r}}});"
      }
    },
    {
      "id": "remove-duplicates",
      "name": "Remove Duplicates / 去重",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        900,
        -100
      ],
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "record_key",
        "options": {}
      }
    },
    {
      "id": "loop-items",
      "name": "Loop Items / 逐条处理",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1160,
        -100
      ],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "ai-analysis",
      "name": "AI Analysis / AI分析",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1420,
        -100
      ],
      "parameters": {
        "method": "POST",
        "url": "https://maas-coding-api.cn-huabei-1.xf-yun.com/v2/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_LLM_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "jsonBody": "={{ ({ model: 'astron-code-latest', temperature: 0.2, messages: [{ role: 'system', content: 'Return concise JSON only for commercial workflow automation.' }, { role: 'user', content: 'Analyze this record for business use. Return JSON fields: opportunity, risk, action, priority. Record: ' + JSON.stringify($json) }] }) }}",
        "options": {
          "timeout": 60000
        },
        "specifyBody": "json"
      }
    },
    {
      "id": "parse-ai",
      "name": "Parse AI / 解析AI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        -100
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const sourceItems = $items('Remove Duplicates / 去重').map(item => item.json);\nreturn $input.all().map((item, index) => {\n  const source = sourceItems[index] || sourceItems[0] || {};\n  const body = item.json;\n  const content = body?.choices?.[0]?.message?.content || '{}';\n  const cleaned = String(content).replace(/^```json\\s*/i, '').replace(/^```\\s*/i, '').replace(/```$/i, '').trim();\n  let parsed = {};\n  try { parsed = JSON.parse(cleaned); } catch (error) { parsed = { raw: content }; }\n  return { json: { ...source, ai_opportunity: parsed.opportunity || '', ai_risk: parsed.risk || '', ai_action: parsed.action || '', ai_priority: parsed.priority || '', ai_raw: parsed } };\n});"
      }
    },
    {
      "id": "route-priority",
      "name": "Route Priority / 优先级分流",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1940,
        -100
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.priority || $json.ai_priority }}",
                    "rightValue": "high",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "High"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Normal"
        }
      }
    },
    {
      "id": "noop-high-priority-queue-",
      "name": "High Priority Queue / 高优先级队列",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2200,
        -220
      ],
      "parameters": {}
    },
    {
      "id": "noop-normal-queue-",
      "name": "Normal Queue / 普通队列",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2200,
        -20
      ],
      "parameters": {}
    },
    {
      "id": "prepare-payloads",
      "name": "Prepare Payloads / 准备载荷",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2460,
        -100
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return $input.all().map(item=>({json:{...item.json,destination_payloads:{google_sheets:item.json,airtable:{fields:item.json},slack:{text:(item.json.title||item.json.account||'CoreClaw record')+' | '+(item.json.ai_action||item.json.action||'review')},notion:{title:item.json.title||item.json.account||item.json.record_key,properties:item.json}}}}));"
      }
    },
    {
      "id": "aggregate-results",
      "name": "Aggregate Results / 聚合结果",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2720,
        -100
      ],
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "records",
        "options": {}
      }
    },
    {
      "id": "markdown-report",
      "name": "Markdown Report / Markdown报告",
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        2980,
        -100
      ],
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "=## CoreClaw Automation Report\n\n{{$json.records ? $json.records.length : 0}} records prepared for business operations."
      }
    },
    {
      "id": "success-summary",
      "name": "Success Summary / 成功摘要",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3240,
        -100
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const rows=$input.all().map(i=>i.json); const st=$items('Get Run Status / 获取状态')?.[0]?.json||{}; return [{json:{outcome:'success',workflow_name:'CoreClaw Instagram Profile Intel / Instagram主页情报',run_slug:$items('Start CoreClaw Run / 启动CoreClaw')?.[0]?.json?.run_slug||'',run_status:st.status,result_count:st.results,returned_items:rows.length,commercial_value:'Business-ready CoreClaw workflow with AI analysis, routing, payloads, and reporting.',sample:rows.slice(0,3),verified_at:new Date().toISOString()}}];"
      }
    },
    {
      "id": "failure-summary",
      "name": "Failure Summary / 失败摘要",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        380,
        240
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const st=$items('Get Run Status / 获取状态')?.[0]?.json||{}; return [{json:{outcome:'failure',workflow_name:'CoreClaw Instagram Profile Intel / Instagram主页情报',run_status:st.status,error:st.err_msg||'',verified_at:new Date().toISOString()}}];"
      }
    }
  ],
  "connections": {
    "Manual Trigger / 手动启动": {
      "main": [
        [
          {
            "node": "Input Config / 输入配置",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Input Config / 输入配置": {
      "main": [
        [
          {
            "node": "Start CoreClaw Run / 启动CoreClaw",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Start CoreClaw Run / 启动CoreClaw": {
      "main": [
        [
          {
            "node": "Wait Before Poll / 等待轮询",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Wait Before Poll / 等待轮询": {
      "main": [
        [
          {
            "node": "Get Run Status / 获取状态",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Get Run Status / 获取状态": {
      "main": [
        [
          {
            "node": "If Terminal / 是否结束",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "If Terminal / 是否结束": {
      "main": [
        [
          {
            "node": "If Success / 是否成功",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait Before Poll / 等待轮询",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Success / 是否成功": {
      "main": [
        [
          {
            "node": "Get Run Results / 获取结果",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failure Summary / 失败摘要",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Run Results / 获取结果": {
      "main": [
        [
          {
            "node": "Normalize Records / 规范化记录",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Normalize Records / 规范化记录": {
      "main": [
        [
          {
            "node": "Remove Duplicates / 去重",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Remove Duplicates / 去重": {
      "main": [
        [
          {
            "node": "AI Analysis / AI分析",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Items / 逐条处理": {
      "main": [
        []
      ]
    },
    "AI Analysis / AI分析": {
      "main": [
        [
          {
            "node": "Parse AI / 解析AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI / 解析AI": {
      "main": [
        [
          {
            "node": "Prepare Payloads / 准备载荷",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Priority / 优先级分流": {
      "main": [
        [
          {
            "node": "High Priority Queue / 高优先级队列",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normal Queue / 普通队列",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "High Priority Queue / 高优先级队列": {
      "main": [
        [],
        []
      ]
    },
    "Prepare Payloads / 准备载荷": {
      "main": [
        [
          {
            "node": "Aggregate Results / 聚合结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results / 聚合结果": {
      "main": [
        [
          {
            "node": "Markdown Report / Markdown报告",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Markdown Report / Markdown报告": {
      "main": [
        [
          {
            "node": "Success Summary / 成功摘要",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "versionId": "coreclaw-instagram-profile-intelligence-commercial-v1",
  "meta": {
    "templateId": "coreclaw-instagram-profile-intelligence",
    "instanceId": "coreclaw-commercial-pack"
  },
  "tags": []
}
