coreclaw-gmaps-reviews-monitor.json
{
  "name": "CoreClaw口碑运营 / Reputation Ops",
  "nodes": [
    {
      "id": "note-overview",
      "name": "Overview / 概览",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1700,
        -520
      ],
      "parameters": {
        "content": "## CoreClaw口碑运营 / Reputation Ops\n\n**Purpose (EN):** Advanced reputation operations.\n\n**用途:** 高级口碑运营.\n\nThis workflow uses the official CoreClaw node as the scraping source and combines standard n8n nodes for polling, deduplication, AI enrichment, routing, reporting, and destination payload preparation.\n\n用途: 以CoreClaw官方节点为数据来源，并结合n8n标准节点完成轮询、去重、AI增强、分流、报告和载荷准备。",
        "width": 760,
        "height": 380
      }
    },
    {
      "id": "note-parameters",
      "name": "Parameters / 参数",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -900,
        -520
      ],
      "parameters": {
        "content": "## Parameters / 参数\n\nEdit **Input Config / 输入配置** before running.\n\n**Example / 示例:**\n`keyword=dentist, base_location=Austin, Texas, USA, fetch_reviews=true`\n\n**Tips / 提示:**\n- Start with low limits for testing.\n- Increase wait_seconds for larger jobs.\n- Select your CoreClaw credential on each CoreClaw node after import.\n- 测试阶段建议使用较小数量.\n- 大批量任务请提高wait_seconds.\n- 导入后请在CoreClaw节点选择你的凭证.",
        "width": 700,
        "height": 380
      }
    },
    {
      "id": "note-flow",
      "name": "Flow / 流程",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1700,
        -120
      ],
      "parameters": {
        "content": "## Flow / 流程\n\n1. Trigger / 触发\n2. Input Config / 输入配置\n3. Start CoreClaw Run / 启动CoreClaw\n4. Wait + Poll / 等待并轮询\n5. Get Results / 获取结果\n6. Normalize + Deduplicate / 规范化并去重\n7. AI or Enrichment / AI或增强处理\n8. Prepare Payloads + Report / 准备载荷并生成报告\n\nUse **Success Summary / 成功摘要** to inspect final output.\n使用 **Success Summary / 成功摘要** 查看最终输出。",
        "width": 760,
        "height": 360
      }
    },
    {
      "id": "note-output",
      "name": "Outputs / 输出",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -900,
        -120
      ],
      "parameters": {
        "content": "## Outputs & Integrations / 输出集成\n\n**Output (EN):** Slack/Notion/Sheets payloads for reputation follow-up.\n\n**输出:** 生成可用于业务系统的数据载荷、摘要和执行证据.\n\nRecommended next integrations:\n- Google Sheets / Google 表格\n- Airtable or CRM / Airtable 或 CRM\n- Slack alerts / Slack 提醒\n- Notion database / Notion 数据库\n- Gmail or email outreach / Gmail 或邮件外联",
        "width": 700,
        "height": 360
      }
    },
    {
      "id": "schedule-trigger",
      "name": "Every 24 Hours / 每24小时",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -1460,
        120
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      }
    },
    {
      "id": "input-config",
      "name": "Input Config / 输入配置",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1200,
        120
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "keyword",
              "name": "keyword",
              "value": "dentist",
              "type": "string"
            },
            {
              "id": "base_location",
              "name": "base_location",
              "value": "Austin, Texas, USA",
              "type": "string"
            },
            {
              "id": "max_results",
              "name": "max_results",
              "value": 2,
              "type": "number"
            },
            {
              "id": "lang",
              "name": "lang",
              "value": "en",
              "type": "string"
            },
            {
              "id": "fetch_reviews",
              "name": "fetch_reviews",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "fetch_social_info",
              "name": "fetch_social_info",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "wait_seconds",
              "name": "wait_seconds",
              "value": 15,
              "type": "number"
            },
            {
              "id": "max_reviews_per_place",
              "name": "max_reviews_per_place",
              "value": 3,
              "type": "number"
            },
            {
              "id": "review_sort_by",
              "name": "review_sort_by",
              "value": "newest",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "start-coreclaw-run",
      "name": "Start CoreClaw Run / 启动CoreClaw",
      "type": "n8n-nodes-coreclaw.coreClaw",
      "typeVersion": 1,
      "position": [
        -900,
        120
      ],
      "parameters": {
        "resource": "scraper",
        "operation": "run",
        "scraperSlug": {
          "__rl": true,
          "mode": "id",
          "value": "01KPD6M5YQADCQKGVKPDZVYC63"
        },
        "version": "v1.2.1",
        "customParams": "={\n  \"keyword\": [{\"string\": \"{{ $json.keyword }}\"}],\n  \"base_location\": \"{{ $json.base_location }}\",\n  \"max_results\": {{ $json.max_results }},\n  \"lang\": \"{{ $json.lang }}\",\n  \"fetch_reviews\": true,\n  \"fetch_social_info\": false,\n  \"max_reviews_per_place\": {{ $json.max_reviews_per_place }},\n  \"review_sort_by\": \"{{ $json.review_sort_by }}\",\n  \"include_reviewer_info\": true\n}"
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "notesInFlow": true,
      "notes": "Select your CoreClaw API credential after import."
    },
    {
      "id": "wait-before-next-poll",
      "name": "Wait Before Poll / 等待轮询",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -640,
        120
      ],
      "parameters": {
        "resume": "timeInterval",
        "amount": "={{ Number($json.wait_seconds || 15) }}",
        "unit": "seconds"
      }
    },
    {
      "id": "get-run-status",
      "name": "Get Run Status / 获取状态",
      "type": "n8n-nodes-coreclaw.coreClaw",
      "typeVersion": 1,
      "position": [
        -380,
        120
      ],
      "parameters": {
        "resource": "run",
        "operation": "get",
        "runSlug": "={{ $('Start CoreClaw Run / 启动CoreClaw').item.json.run_slug }}"
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "notesInFlow": true,
      "notes": "Select your CoreClaw API credential after import.",
      "continueOnFail": true
    },
    {
      "id": "if-run-terminal",
      "name": "If Terminal / 是否结束",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -120,
        120
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "if-run-terminal",
              "leftValue": "={{ Number($json.status) }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "if-run-succeeded",
      "name": "If Success / 是否成功",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        120,
        40
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "if-run-succeeded",
              "leftValue": "={{ Number($json.status) }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "get-run-results",
      "name": "Get Run Results / 获取结果",
      "type": "n8n-nodes-coreclaw.coreClaw",
      "typeVersion": 1,
      "position": [
        380,
        -100
      ],
      "parameters": {
        "resource": "run",
        "operation": "getResults",
        "runSlug": "={{ $('Start CoreClaw Run / 启动CoreClaw').item.json.run_slug }}",
        "returnAll": false,
        "limit": "={{ Number($items(\"Input Config / 输入配置\")?.[0]?.json?.max_results || 10) }}"
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "notesInFlow": true,
      "notes": "Select your CoreClaw API credential after import."
    },
    {
      "id": "normalize-business-leads",
      "name": "Normalize Leads / 规范化线索",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        -100
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const input = $items('Input Config / 输入配置')?.[0]?.json ?? {};\nconst rows = $input.all().map(item => item.json);\nfunction cleanUrl(value) { return String(value || '').split('?')[0].replace(/\\/$/, ''); }\nfunction key(row) { return String(row.cid || row.data_id || row.website || row.title || '').toLowerCase().trim(); }\nreturn rows.map((row, index) => {\n  const website = cleanUrl(row.website);\n  const emails = [row.email_1, row.email_2, row.email_3, row.email_4, row.all_emails].filter(Boolean).join(', ');\n  const rating = Number(row.total_score || row.rating || 0);\n  const reviewCount = Number(row.reviews_count || row.review_count || 0);\n  let leadScore = 35;\n  if (website) leadScore += 15;\n  if (emails) leadScore += 25;\n  if (row.phone) leadScore += 10;\n  if (rating >= 4.5) leadScore += 10;\n  if (reviewCount >= 100) leadScore += 10;\n  if (rating > 0 && rating < 4) leadScore -= 15;\n  leadScore = Math.max(0, Math.min(100, leadScore));\n  const leadPriority = leadScore >= 80 ? 'hot' : leadScore >= 60 ? 'warm' : 'nurture';\n  return { json: {\n    workflow_kind: 'reputation_advanced', lead_key: key(row), index: index + 1,\n    source_keyword: row.source_keyword || input.keyword || '', source_location: row.source_location || input.base_location || '',\n    title: row.title || '', category: row.primary_category || row.all_categories || '', all_categories: row.all_categories || '',\n    address: row.address || '', city: row.city || '', state: row.state || '', country: row.country || '', postal_code: row.postal_code || '',\n    phone: row.phone || '', website, email: emails, rating, review_count: reviewCount, google_maps_url: row.url || '',\n    lead_score: leadScore, lead_priority: leadPriority, crm_stage: leadPriority === 'hot' ? 'Qualified' : 'New',\n    recommended_action: leadPriority === 'hot' ? 'Call today and send personalized email.' : leadPriority === 'warm' ? 'Send email and call within 48 hours.' : 'Add to nurture and enrich later.',\n    company_summary: [row.title, row.primary_category, row.address, row.phone ? 'Phone: ' + row.phone : '', website ? 'Website: ' + website : ''].filter(Boolean).join(' | '),\n    scraped_at: row.scraped_at || new Date().toISOString(), raw: row\n  }};\n});"
      }
    },
    {
      "id": "remove-duplicates",
      "name": "Remove Duplicates / 去重",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        900,
        -100
      ],
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "lead_key",
        "options": {}
      }
    },
    {
      "id": "loop-over-leads",
      "name": "Loop Leads / 逐条线索",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1160,
        -100
      ],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "ai-business-analysis",
      "name": "AI Business Analysis / AI商业分析",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1420,
        -100
      ],
      "parameters": {
        "method": "POST",
        "url": "https://maas-coding-api.cn-huabei-1.xf-yun.com/v2/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_LLM_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "jsonBody": "={{ ({ model: 'astron-code-latest', temperature: 0.2, messages: [{ role: 'system', content: 'You are a B2B revenue operations analyst. Return compact JSON only.' }, { role: 'user', content: 'Analyze this local business lead and return JSON with fields: persona, pain_point, pitch, next_step, risk. Lead: ' + JSON.stringify($json) }] }) }}",
        "options": {
          "timeout": 60000
        },
        "specifyBody": "json"
      }
    },
    {
      "id": "parse-ai-output",
      "name": "Parse AI Output / 解析AI输出",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        -100
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const sourceItems = $items('Remove Duplicates / 去重').map(item => item.json);\nreturn $input.all().map((item, index) => {\n  const source = sourceItems[index] || sourceItems[0] || {};\n  const body = item.json;\n  const content = body?.choices?.[0]?.message?.content || '{}';\n  const cleaned = String(content).replace(/^```json\\s*/i, '').replace(/^```\\s*/i, '').replace(/```$/i, '').trim();\n  let parsed = {};\n  try { parsed = JSON.parse(cleaned); } catch (error) { parsed = { raw: content }; }\n  return { json: { ...source, ai_persona: parsed.persona || '', ai_pain_point: parsed.pain_point || '', ai_pitch: parsed.pitch || '', ai_next_step: parsed.next_step || '', ai_risk: parsed.risk || '', ai_raw: parsed } };\n});"
      }
    },
    {
      "id": "prepare-google-sheets-rows",
      "name": "Prepare Sheets Rows / 准备表格行",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2460,
        -100
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return $input.all().map(item => ({ json: { ...item.json, destination: 'google_sheets', row: { lead_key: item.json.lead_key, title: item.json.title, category: item.json.category, address: item.json.address, phone: item.json.phone, website: item.json.website, email: item.json.email || item.json.discovered_emails, rating: item.json.rating, review_count: item.json.review_count, lead_score: item.json.lead_score, lead_priority: item.json.lead_priority, recommended_action: item.json.recommended_action, ai_pitch: item.json.ai_pitch, company_summary: item.json.company_summary } } }));"
      }
    },
    {
      "id": "prepare-slack-alerts",
      "name": "Prepare Slack Alerts / 准备Slack提醒",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2460,
        -100
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return $input.all().map(item => ({ json: { ...item.json, destination: 'slack', slack_text: '[' + item.json.lead_priority.toUpperCase() + '] ' + item.json.title + ' | Score ' + item.json.lead_score + ' | ' + item.json.recommended_action } }));"
      }
    },
    {
      "id": "prepare-notion-pages",
      "name": "Prepare Notion Pages / 准备Notion页面",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2460,
        -100
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return $input.all().map(item => ({ json: { ...item.json, destination: 'notion', notion_page: { title: item.json.title, properties: { Priority: item.json.lead_priority, Score: item.json.lead_score, Stage: item.json.crm_stage, Website: item.json.website } } } }));"
      }
    },
    {
      "id": "aggregate-campaign",
      "name": "Aggregate Campaign / 聚合活动",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2720,
        -100
      ],
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "leads",
        "options": {}
      }
    },
    {
      "id": "markdown-report",
      "name": "Markdown Report / Markdown报告",
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        2980,
        -100
      ],
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "=## CoreClaw Lead Report\n\nWorkflow: {{$json.workflow_kind || \"coreclaw\"}}\n\nTotal leads payload generated. Open execution data for structured rows."
      }
    },
    {
      "id": "build-success-summary",
      "name": "Success Summary / 成功摘要",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3240,
        -100
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const status = $items('Get Run Status / 获取状态')?.[0]?.json ?? {};\nconst input = $items('Input Config / 输入配置')?.[0]?.json ?? {};\nconst rows = $input.all().map(i => i.json);\nreturn [{ json: { outcome: 'success', workflow_kind: 'reputation_advanced', run_slug: $items('Start CoreClaw Run / 启动CoreClaw')?.[0]?.json?.run_slug || '', run_status: status.status, coreclaw_result_count: status.results, returned_items: rows.length, hot_leads: rows.filter(r => r.lead_priority === 'hot').length, warm_leads: rows.filter(r => r.lead_priority === 'warm').length, keyword: input.keyword, base_location: input.base_location, business_value: 'CoreClaw plus n8n enrichment pipeline with AI, routing, destination payloads, and verification summary.', sample_results: rows.slice(0, 3), verified_at: new Date().toISOString() }}];"
      }
    },
    {
      "id": "build-failure-summary",
      "name": "Failure Summary / 失败摘要",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        380,
        240
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const status = $items('Get Run Status / 获取状态')?.[0]?.json ?? {};\nreturn [{ json: { outcome: 'failure', workflow_kind: 'reputation_advanced', run_slug: $items('Start CoreClaw Run / 启动CoreClaw')?.[0]?.json?.run_slug || '', run_status: status.status, run_error_message: status.err_msg || '', verified_at: new Date().toISOString() }}];"
      }
    }
  ],
  "connections": {
    "Every 24 Hours / 每24小时": {
      "main": [
        [
          {
            "node": "Input Config / 输入配置",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Input Config / 输入配置": {
      "main": [
        [
          {
            "node": "Start CoreClaw Run / 启动CoreClaw",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Start CoreClaw Run / 启动CoreClaw": {
      "main": [
        [
          {
            "node": "Wait Before Poll / 等待轮询",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Wait Before Poll / 等待轮询": {
      "main": [
        [
          {
            "node": "Get Run Status / 获取状态",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Get Run Status / 获取状态": {
      "main": [
        [
          {
            "node": "If Terminal / 是否结束",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "If Terminal / 是否结束": {
      "main": [
        [
          {
            "node": "If Success / 是否成功",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait Before Poll / 等待轮询",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Success / 是否成功": {
      "main": [
        [
          {
            "node": "Get Run Results / 获取结果",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failure Summary / 失败摘要",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Run Results / 获取结果": {
      "main": [
        [
          {
            "node": "Normalize Leads / 规范化线索",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Normalize Leads / 规范化线索": {
      "main": [
        [
          {
            "node": "Remove Duplicates / 去重",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Remove Duplicates / 去重": {
      "main": [
        [
          {
            "node": "AI Business Analysis / AI商业分析",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Leads / 逐条线索": {
      "main": [
        []
      ]
    },
    "AI Business Analysis / AI商业分析": {
      "main": [
        [
          {
            "node": "Parse AI Output / 解析AI输出",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Output / 解析AI输出": {
      "main": [
        [
          {
            "node": "Prepare Sheets Rows / 准备表格行",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Sheets Rows / 准备表格行": {
      "main": [
        [
          {
            "node": "Prepare Slack Alerts / 准备Slack提醒",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Slack Alerts / 准备Slack提醒": {
      "main": [
        [
          {
            "node": "Prepare Notion Pages / 准备Notion页面",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Notion Pages / 准备Notion页面": {
      "main": [
        [
          {
            "node": "Aggregate Campaign / 聚合活动",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Campaign / 聚合活动": {
      "main": [
        [
          {
            "node": "Markdown Report / Markdown报告",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Markdown Report / Markdown报告": {
      "main": [
        [
          {
            "node": "Success Summary / 成功摘要",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "versionId": "coreclaw-gmaps-reviews-monitor-upgraded-v4",
  "meta": {
    "templateId": "coreclaw-gmaps-reviews-monitor",
    "instanceId": "coreclaw-local-upgraded"
  },
  "tags": []
}
