coreclaw-gmaps-leads-complete-enhanced.json
{
  "name": "CoreClaw Lead Operations / CoreClaw 完整线索运营",
  "nodes": [
    {
      "id": "sticky-overview",
      "name": "Overview / 概览",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1460,
        -520
      ],
      "parameters": {
        "content": "## Overview / 概览\nWorkflow / 工作流: CoreClaw Lead Operations / CoreClaw 完整线索运营\n\nBusiness goal: turn live CoreClaw data into prioritized, CRM-ready operating records.\n\n业务目标：把实时 CoreClaw 数据转成可进入 CRM、表格和运营系统的高优先级业务记录。",
        "height": 260,
        "width": 720
      }
    },
    {
      "id": "sticky-inputs",
      "name": "Inputs / 输入",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -700,
        -520
      ],
      "parameters": {
        "content": "## Inputs / 输入\nSource / 数据源: Google Maps business search / Google Maps商家搜索\n\nTrigger / 触发方式: Manual operator trigger / 人工手动触发\n\nKey inputs / 关键输入: campaign, owner, ICP, offer, proxy region, wait time, and result limits.\n\n关键参数会在 Input Config / 输入配置 节点集中维护，方便导入后按客户场景修改。",
        "height": 260,
        "width": 720
      }
    },
    {
      "id": "sticky-flow",
      "name": "Flow / 流程",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1460,
        -220
      ],
      "parameters": {
        "content": "## Flow / 流程\n1. Start CoreClaw run / 启动 CoreClaw 任务\n2. Poll until terminal status / 轮询直到任务结束\n3. Normalize and deduplicate records / 标准化并去重\n4. Enrich, score, and route / 增强、评分、路由\n\n- Website signal extraction / 网站公开信号提取\n- Optional LLM business analysis / 可选大模型商业分析",
        "height": 260,
        "width": 720
      }
    },
    {
      "id": "sticky-outputs",
      "name": "Outputs / 输出",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -700,
        -220
      ],
      "parameters": {
        "content": "## Outputs / 输出\nEach successful run returns an executive summary plus destination payloads.\n\n每次成功执行都会输出执行摘要，以及可直接对接的目标系统 payload。\n\nOutputs / 输出: Google Sheets, Airtable, CRM, Slack, Notion, email draft, webhook, evidence fields, and recommended next actions.",
        "height": 260,
        "width": 720
      }
    },
    {
      "id": "manual-trigger",
      "name": "Manual Trigger / 手动触发",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1460,
        120
      ],
      "parameters": {}
    },
    {
      "id": "input-config",
      "name": "Input Config / 输入配置",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1200,
        120
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "keyword",
              "name": "keyword",
              "value": "dentist",
              "type": "string"
            },
            {
              "id": "base_location",
              "name": "base_location",
              "value": "Austin, Texas, USA",
              "type": "string"
            },
            {
              "id": "max_results",
              "name": "max_results",
              "value": 3,
              "type": "number"
            },
            {
              "id": "lang",
              "name": "lang",
              "value": "en",
              "type": "string"
            },
            {
              "id": "fetch_reviews",
              "name": "fetch_reviews",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "fetch_social_info",
              "name": "fetch_social_info",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "max_reviews_per_place",
              "name": "max_reviews_per_place",
              "value": 3,
              "type": "number"
            },
            {
              "id": "review_sort_by",
              "name": "review_sort_by",
              "value": "newest",
              "type": "string"
            },
            {
              "id": "campaign_name",
              "name": "campaign_name",
              "value": "Full funnel lead operations",
              "type": "string"
            },
            {
              "id": "owner",
              "name": "owner",
              "value": "RevOps",
              "type": "string"
            },
            {
              "id": "target_icp",
              "name": "target_icp",
              "value": "High intent local businesses ready for CRM handoff",
              "type": "string"
            },
            {
              "id": "offer",
              "name": "offer",
              "value": "Score, enrich, route, and prepare outbound payloads in one run",
              "type": "string"
            },
            {
              "id": "proxy_region",
              "name": "proxy_region",
              "value": "US",
              "type": "string"
            },
            {
              "id": "min_score_for_alert",
              "name": "min_score_for_alert",
              "value": 75,
              "type": "number"
            },
            {
              "id": "wait_seconds",
              "name": "wait_seconds",
              "value": 15,
              "type": "number"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "start-coreclaw-run",
      "name": "Start CoreClaw Run / 启动CoreClaw任务",
      "type": "n8n-nodes-coreclaw.coreClaw",
      "typeVersion": 1,
      "position": [
        -900,
        120
      ],
      "parameters": {
        "resource": "scraper",
        "operation": "run",
        "scraperSlug": {
          "__rl": true,
          "mode": "id",
          "value": "01KPD6M5YQADCQKGVKPDZVYC63"
        },
        "version": "v1.2.1",
        "customParams": "={\n  \"keyword\": [{\"string\": \"{{ $json.keyword }}\"}],\n  \"base_location\": \"{{ $json.base_location }}\",\n  \"max_results\": {{ $json.max_results }},\n  \"lang\": \"{{ $json.lang }}\",\n  \"fetch_reviews\": {{ $json.fetch_reviews }},\n  \"fetch_social_info\": {{ $json.fetch_social_info }},\n  \"max_reviews_per_place\": {{ $json.max_reviews_per_place }},\n  \"review_sort_by\": \"{{ $json.review_sort_by }}\",\n  \"include_reviewer_info\": {{ $json.fetch_reviews }}\n}",
        "additionalFields": {
          "systemParams": "={\n  \"cpus\": 2,\n  \"memory\": 8192,\n  \"max_total_charge\": 0,\n  \"max_total_traffic\": 0,\n  \"execute_limit_time_seconds\": 0,\n  \"proxy_region\": \"{{ $json.proxy_region || 'US' }}\"\n}"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "continueOnFail": false,
      "notesInFlow": true,
      "notes": "Bind a CoreClaw API credential after import. / 导入后请绑定 CoreClaw API 凭证。This node uses the official CoreClaw community package. / 本节点使用 CoreClaw 官方社区节点包。"
    },
    {
      "id": "wait-before-poll",
      "name": "Wait Before Poll / 等待轮询",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -640,
        120
      ],
      "parameters": {
        "resume": "timeInterval",
        "amount": "={{ Number($items(\"Input Config / 输入配置\")?.[0]?.json?.wait_seconds || 15) }}",
        "unit": "seconds"
      }
    },
    {
      "id": "get-run-status",
      "name": "Get Run Status / 获取任务状态",
      "type": "n8n-nodes-coreclaw.coreClaw",
      "typeVersion": 1,
      "position": [
        -380,
        120
      ],
      "parameters": {
        "resource": "run",
        "operation": "get",
        "runSlug": "={{ $('Start CoreClaw Run / 启动CoreClaw任务').item.json.run_slug }}"
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "continueOnFail": true,
      "notesInFlow": true,
      "notes": "Bind a CoreClaw API credential after import. / 导入后请绑定 CoreClaw API 凭证。This node uses the official CoreClaw community package. / 本节点使用 CoreClaw 官方社区节点包。"
    },
    {
      "id": "if-terminal",
      "name": "If Terminal / 是否结束",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -120,
        120
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "if-terminal",
              "leftValue": "={{ $json.error ? 4 : Number($json.status) }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "if-success",
      "name": "If Success / 是否成功",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        120,
        40
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "if-success",
              "leftValue": "={{ $json.error ? 4 : Number($json.status) }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "get-run-results",
      "name": "Get Run Results / 获取任务结果",
      "type": "n8n-nodes-coreclaw.coreClaw",
      "typeVersion": 1,
      "position": [
        380,
        -100
      ],
      "parameters": {
        "resource": "run",
        "operation": "getResults",
        "runSlug": "={{ $('Start CoreClaw Run / 启动CoreClaw任务').item.json.run_slug }}",
        "returnAll": false,
        "limit": "={{ Number($items(\"Input Config / 输入配置\")?.[0]?.json?.max_results || 10) }}"
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "continueOnFail": false,
      "notesInFlow": true,
      "notes": "Bind a CoreClaw API credential after import. / 导入后请绑定 CoreClaw API 凭证。This node uses the official CoreClaw community package. / 本节点使用 CoreClaw 官方社区节点包。"
    },
    {
      "id": "normalize-records",
      "name": "Normalize Records / 标准化记录",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        -100
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const input = $items('Input Config / 输入配置')?.[0]?.json || {};\nconst rows = $input.all().map(item => item.json || {});\nconst workflowKind = \"lead_operations\";\n\nfunction first(row, names) {\n  for (const name of names) {\n    const value = row[name];\n    if (value !== undefined && value !== null && String(value).trim() !== '') return value;\n  }\n  return '';\n}\n\nfunction cleanUrl(value) {\n  const raw = String(value || '').trim();\n  if (!raw) return '';\n  const withProtocol = /^https?:\\/\\//i.test(raw) ? raw : 'https://' + raw;\n  return withProtocol.split('#')[0].replace(/\\/$/, '');\n}\n\nfunction num(value) {\n  const parsed = Number(String(value ?? '').replace(/[^0-9.-]/g, ''));\n  return Number.isFinite(parsed) ? parsed : 0;\n}\n\nfunction emailsFrom(row) {\n  const values = [\n    row.email, row.email_1, row.email_2, row.email_3, row.email_4,\n    row.all_emails, row.emails, row.discovered_emails,\n  ].filter(Boolean).join(', ');\n  return [...new Set(String(values).match(/[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,}/gi) || [])].map(v => v.toLowerCase());\n}\n\nfunction scoreLead(row, website, emails, phone, rating, reviewCount) {\n  let contactability = 15;\n  if (website) contactability += 25;\n  if (emails.length) contactability += 25;\n  if (phone) contactability += 25;\n  if (first(row, ['linkedin', 'facebook', 'instagram', 'social_links'])) contactability += 10;\n\n  let demand = 25;\n  if (reviewCount >= 250) demand += 25;\n  else if (reviewCount >= 100) demand += 20;\n  else if (reviewCount >= 25) demand += 12;\n  if (rating >= 4.6) demand += 20;\n  else if (rating >= 4.2) demand += 14;\n  else if (rating > 0 && rating < 3.8) demand += 8;\n\n  let fit = 25;\n  const category = String(first(row, ['primary_category', 'category', 'all_categories'])).toLowerCase();\n  const keyword = String(input.keyword || '').toLowerCase();\n  if (category && keyword && category.includes(keyword.split(' ')[0])) fit += 20;\n  if (first(row, ['address', 'city', 'state', 'country'])) fit += 15;\n\n  const reputationRisk = rating > 0 && rating < 4 ? Math.min(30, Math.round((4 - rating) * 18 + Math.min(reviewCount, 100) / 10)) : 0;\n  const commercialScore = Math.max(0, Math.min(100, Math.round(contactability * 0.4 + demand * 0.35 + fit * 0.25 + reputationRisk * 0.15)));\n  return { contactability, demand, fit, reputationRisk, commercialScore };\n}\n\nreturn rows.map((row, index) => {\n  const website = cleanUrl(first(row, ['website', 'site', 'domain', 'url']));\n  const emailList = emailsFrom(row);\n  const phone = String(first(row, ['phone', 'phone_number', 'telephone'])).trim();\n  const rating = num(first(row, ['rating', 'review_rating', 'total_score', 'stars']));\n  const reviewCount = num(first(row, ['reviews_count', 'review_count', 'reviews']));\n  const title = String(first(row, ['title', 'name', 'business_name', 'place_name'])).trim();\n  const category = String(first(row, ['primary_category', 'category', 'all_categories'])).trim();\n  const score = scoreLead(row, website, emailList, phone, rating, reviewCount);\n  const priority = score.commercialScore >= 75 ? 'hot' : score.commercialScore >= 55 ? 'warm' : 'nurture';\n  const recommendedAction = priority === 'hot'\n    ? 'Call today, add to CRM as SQL, and send a personalized first email.'\n    : priority === 'warm'\n      ? 'Send a tailored email sequence and schedule a follow-up call within 48 hours.'\n      : 'Keep in nurture, enrich contacts, and re-score after more signals are available.';\n  const key = String(first(row, ['cid', 'data_id', 'place_id', 'google_id', 'website', 'url']) || title || index).toLowerCase().trim();\n  return {\n    json: {\n      workflow_kind: workflowKind,\n      record_key: key,\n      campaign_name: input.campaign_name || '',\n      owner: input.owner || '',\n      target_icp: input.target_icp || '',\n      offer: input.offer || '',\n      source_keyword: first(row, ['source_keyword']) || input.keyword || '',\n      source_location: first(row, ['source_location']) || input.base_location || '',\n      title,\n      category,\n      address: first(row, ['address', 'full_address']),\n      city: first(row, ['city']),\n      state: first(row, ['state', 'province']),\n      country: first(row, ['country']),\n      postal_code: first(row, ['postal_code', 'zip']),\n      phone,\n      website,\n      email: emailList.join(', '),\n      email_count: emailList.length,\n      rating,\n      review_count: reviewCount,\n      google_maps_url: first(row, ['url', 'google_maps_url', 'place_url']),\n      social_profiles: {\n        linkedin: first(row, ['linkedin']),\n        facebook: first(row, ['facebook']),\n        instagram: first(row, ['instagram']),\n      },\n      contactability_score: Math.min(100, score.contactability),\n      demand_score: Math.min(100, score.demand),\n      icp_fit_score: Math.min(100, score.fit),\n      reputation_risk_score: score.reputationRisk,\n      commercial_score: score.commercialScore,\n      lead_priority: priority,\n      crm_stage: priority === 'hot' ? 'Sales Qualified' : priority === 'warm' ? 'Marketing Qualified' : 'Nurture',\n      recommended_action: recommendedAction,\n      outreach_angle: score.reputationRisk >= 15\n        ? 'Lead with review response, reputation recovery, and conversion lift.'\n        : 'Lead with automation ROI, missed opportunity capture, and faster follow-up.',\n      evidence: [\n        website ? 'website available' : 'missing website',\n        emailList.length ? 'email found' : 'email not found',\n        phone ? 'phone available' : 'missing phone',\n        rating ? 'rating ' + rating : 'no rating',\n        reviewCount ? reviewCount + ' reviews' : 'no review count',\n      ],\n      raw: row,\n      processed_at: new Date().toISOString(),\n    },\n  };\n});"
      }
    },
    {
      "id": "remove-duplicates",
      "name": "Remove Duplicates / 去重",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        900,
        -100
      ],
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "record_key",
        "options": {}
      }
    },
    {
      "id": "ai-analysis",
      "name": "AI Commercial Analysis / AI商业分析",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1160,
        -100
      ],
      "parameters": {
        "method": "POST",
        "url": "https://maas-coding-api.cn-huabei-1.xf-yun.com/v2/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + ($env.ASTRON_API_KEY || 'YOUR_LLM_API_KEY') }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({ model: 'astron-code-latest', temperature: 0.2, messages: [{ role: 'system', content: 'Return compact JSON only. You are a senior revenue operations analyst. Fields: opportunity, risk, action, priority, pitch, next_step.' }, { role: 'user', content: 'Assess this CoreClaw workflow record for commercial use. Return JSON only. Record: ' + JSON.stringify($json) }] }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "continueOnFail": true,
      "notesInFlow": true,
      "notes": "Optional LLM enrichment. Set ASTRON_API_KEY locally or replace the placeholder only in your private n8n instance. / 可选大模型增强。请在本地设置 ASTRON_API_KEY，或只在私有 n8n 实例内替换占位值。"
    },
    {
      "id": "parse-ai-output",
      "name": "Parse AI Output / 解析AI输出",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1420,
        -100
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "let sourceItems = [];\ntry { sourceItems = $items('Remove Duplicates / 去重').map(item => item.json || {}); } catch (error) { sourceItems = []; }\n\nfunction parseContent(body) {\n  const content = body?.choices?.[0]?.message?.content || body?.data?.choices?.[0]?.message?.content || '';\n  const cleaned = String(content || '').replace(/^\\s*```json\\s*/i, '').replace(/^\\s*```\\s*/i, '').replace(/\\s*```\\s*$/i, '').trim();\n  if (!cleaned) return {};\n  try { return JSON.parse(cleaned); } catch (error) { return { raw: content }; }\n}\n\nreturn $input.all().map((item, index) => {\n  const source = sourceItems[index] || sourceItems[0] || {};\n  const parsed = parseContent(item.json || {});\n  const fallbackPriority = source.lead_priority || source.priority || 'normal';\n  return {\n    json: {\n      ...source,\n      ai_status: parsed.raw || Object.keys(parsed).length === 0 ? 'fallback' : 'enriched',\n      ai_opportunity: parsed.opportunity || source.outreach_angle || source.recommended_action || '',\n      ai_risk: parsed.risk || '',\n      ai_action: parsed.action || source.recommended_action || '',\n      ai_priority: parsed.priority || fallbackPriority,\n      ai_pitch: parsed.pitch || source.outreach_angle || '',\n      ai_next_step: parsed.next_step || source.recommended_action || '',\n      ai_raw: parsed,\n    },\n  };\n});"
      }
    },
    {
      "id": "fetch-website",
      "name": "Fetch Website / 抓取网站",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        -100
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $json.website || $json.domain || $json.url || 'https://example.com' }}",
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "id": "extract-website-signals",
      "name": "Extract Website Signals / 提取网站信号",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1940,
        -100
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "let sourceItems = [];\ntry { sourceItems = $items(\"Parse AI Output / 解析AI输出\").map(item => item.json || {}); } catch (error) { sourceItems = []; }\n\nfunction hostOf(value) {\n  try { return new URL(String(value || '')).hostname.replace(/^www\\./, '').toLowerCase(); } catch (error) { return ''; }\n}\n\nfunction emailDomain(email) {\n  return String(email || '').split('@')[1]?.toLowerCase() || '';\n}\n\nreturn $input.all().map((item, index) => {\n  const source = sourceItems[index] || sourceItems[0] || {};\n  const text = JSON.stringify(item.json || {});\n  const sourceHost = hostOf(source.website || source.url || '');\n  const emails = [...new Set((text.match(/\\b[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.(?!png\\b|jpg\\b|jpeg\\b|gif\\b|webp\\b|svg\\b|css\\b|js\\b)[A-Z]{2,24}\\b/gi) || []).map(email => email.toLowerCase()))]\n    .filter(email => {\n      if (/(example|xxxxxx|placeholder|sentry|wixpress|schema|domain|godaddy|wordpress|webflow|shopify|squarespace|typemade|lab6|google|facebook|instagram|youtube|linkedin|x\\.com)/i.test(email)) return false;\n      const domain = emailDomain(email);\n      if (!domain) return false;\n      if (!sourceHost) return true;\n      return sourceHost.endsWith(domain) || domain.endsWith(sourceHost) || sourceHost.split('.').slice(-2).join('.') === domain.split('.').slice(-2).join('.');\n    });\n  const phones = [...new Set((text.match(/(?:\\+?1[\\s.-]?)?\\(?\\d{3}\\)?[\\s.-]?\\d{3}[\\s.-]?\\d{4}/g) || []).map(phone => phone.trim()))];\n  const mergedEmails = [...new Set([source.email, source.discovered_emails, ...emails].filter(Boolean).join(', ').match(/[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,}/gi) || [])].map(email => email.toLowerCase());\n  return {\n    json: {\n      ...source,\n      email: mergedEmails.join(', '),\n      discovered_emails: emails.join(', '),\n      discovered_phones: phones.join(', '),\n      email_count: mergedEmails.length,\n      website_enrichment_status: emails.length || phones.length ? 'signals_found' : 'no_public_signals',\n    },\n  };\n});"
      }
    },
    {
      "id": "prepare-payloads",
      "name": "Prepare Destination Payloads / 准备目标系统载荷",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        -100
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const workflowName = \"CoreClaw Lead Operations / CoreClaw 完整线索运营\";\n\nfunction compact(value) {\n  if (Array.isArray(value)) return value.filter(Boolean);\n  if (!value || typeof value !== 'object') return value;\n  return Object.fromEntries(Object.entries(value).filter(([, item]) => item !== undefined && item !== null && item !== ''));\n}\n\nreturn $input.all().map(item => {\n  const r = item.json || {};\n  const score = Number(r.commercial_score ?? r.opportunity_score ?? 0);\n  const priority = r.lead_priority || r.priority || (score >= 80 ? 'high' : score >= 60 ? 'medium' : 'normal');\n  const title = r.title || r.full_name || r.username || r.brand || r.record_key || 'CoreClaw record';\n  const externalId = r.record_key || r.asin || r.username || title;\n  const email = r.email || r.discovered_emails || '';\n  const action = r.ai_action || r.recommended_action || 'Review and assign an owner.';\n  const sheetRow = compact({\n    workflow_name: workflowName,\n    campaign_name: r.campaign_name,\n    owner: r.owner,\n    external_id: externalId,\n    title,\n    category: r.category,\n    location: [r.city, r.state, r.country].filter(Boolean).join(', '),\n    phone: r.phone,\n    email,\n    website: r.website,\n    rating: r.rating,\n    review_count: r.review_count,\n    score,\n    priority,\n    recommended_action: action,\n    ai_pitch: r.ai_pitch,\n    source_keyword: r.source_keyword || r.keyword,\n    processed_at: r.processed_at,\n  });\n  const crmPayload = compact({\n    external_id: externalId,\n    company_name: title,\n    stage: r.crm_stage || (priority === 'hot' || priority === 'high' ? 'Qualified' : 'New'),\n    owner: r.owner,\n    score,\n    priority,\n    phone: r.phone,\n    email,\n    website: r.website,\n    next_step: r.ai_next_step || action,\n    source: 'CoreClaw n8n workflow',\n  });\n  const slackText = '[' + String(priority).toUpperCase() + '] ' + title + ' | score ' + score + ' | ' + action;\n  const emailDraft = compact({\n    to: email,\n    subject: title ? 'Quick idea for ' + title : 'Quick automation idea',\n    body: [\n      'Hi,',\n      '',\n      r.ai_pitch || r.outreach_angle || 'I noticed a few operational signals that may be worth acting on.',\n      '',\n      'Relevant signal: ' + (r.evidence || []).join('; '),\n      'Suggested next step: ' + action,\n      '',\n      'Best,',\n      r.owner || 'CoreClaw Ops',\n    ].join('\\n'),\n  });\n\n  return {\n    json: {\n      ...r,\n      destination_payloads: {\n        google_sheets: sheetRow,\n        airtable: { fields: sheetRow },\n        crm: crmPayload,\n        slack: { text: slackText },\n        notion: { title, properties: sheetRow },\n        email_draft: emailDraft,\n        webhook: { event: 'coreclaw.workflow.record_ready', workflow_name: workflowName, payload: sheetRow },\n      },\n      integration_contract_version: '2026-06-12.commercial-v1',\n    },\n  };\n});"
      }
    },
    {
      "id": "aggregate-results",
      "name": "Aggregate Results / 汇总结果",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2460,
        -100
      ],
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "records",
        "options": {}
      }
    },
    {
      "id": "success-summary",
      "name": "Success Summary / 成功摘要",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2720,
        -100
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const aggregate = $input.first()?.json || {};\nconst records = Array.isArray(aggregate.records) ? aggregate.records : $input.all().map(item => item.json || {});\nlet status = {};\nlet input = {};\ntry { status = $items('Get Run Status / 获取任务状态')?.[0]?.json || {}; } catch (error) {}\ntry { input = $items('Input Config / 输入配置')?.[0]?.json || {}; } catch (error) {}\n\nfunction scoreOf(record) {\n  return Number(record.commercial_score ?? record.opportunity_score ?? 0);\n}\n\nconst sorted = [...records].sort((a, b) => scoreOf(b) - scoreOf(a));\nconst alertThreshold = Number(input.min_score_for_alert || 75);\nconst highValue = sorted.filter(record => scoreOf(record) >= alertThreshold);\nconst payloadCoverage = records.filter(record => record.destination_payloads).length;\nconst avgScore = records.length ? Math.round(records.reduce((sum, record) => sum + scoreOf(record), 0) / records.length) : 0;\nconst reportLines = [\n  '# ' + \"CoreClaw Lead Operations / CoreClaw 完整线索运营\",\n  '',\n  '- Outcome: success',\n  '- CoreClaw run: ' + ($items('Start CoreClaw Run / 启动CoreClaw任务')?.[0]?.json?.run_slug || ''),\n  '- Returned records: ' + records.length,\n  '- Average commercial score: ' + avgScore,\n  '- Alert threshold records: ' + highValue.length,\n  '- Payload-ready records: ' + payloadCoverage,\n  '',\n  '## Top actions',\n  ...sorted.slice(0, 5).map((record, index) => (index + 1) + '. ' + (record.title || record.full_name || record.username || record.record_key || 'Record') + ' - score ' + scoreOf(record) + ' - ' + (record.ai_action || record.recommended_action || 'Review')),\n];\n\nreturn [{\n  json: {\n    outcome: 'success',\n    workflow_name: \"CoreClaw Lead Operations / CoreClaw 完整线索运营\",\n    campaign_name: input.campaign_name || '',\n    owner: input.owner || '',\n    run_slug: $items('Start CoreClaw Run / 启动CoreClaw任务')?.[0]?.json?.run_slug || '',\n    run_status: status.status,\n    coreclaw_result_count: status.results ?? status.result_count ?? records.length,\n    returned_items: records.length,\n    average_commercial_score: avgScore,\n    high_value_records: highValue.length,\n    payload_ready_records: payloadCoverage,\n    business_value: 'Commercially usable output: scored records, prioritized actions, CRM/table/Airtable/Slack/Notion/email payloads, and an executive summary.',\n    top_records: sorted.slice(0, 5),\n    report_markdown: reportLines.join('\\n'),\n    verified_at: new Date().toISOString(),\n  },\n}];"
      }
    },
    {
      "id": "failure-summary",
      "name": "Failure Summary / 失败摘要",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        380,
        240
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "let status = {};\nlet input = {};\ntry { status = $items('Get Run Status / 获取任务状态')?.[0]?.json || {}; } catch (error) {}\ntry { input = $items('Input Config / 输入配置')?.[0]?.json || {}; } catch (error) {}\n\nconst statusCode = Number(status.status || 0);\nconst diagnosis = status.error || status.err_msg || status.message || (statusCode === 4 ? 'CoreClaw run failed.' : statusCode === 5 ? 'CoreClaw run was aborted.' : 'CoreClaw run did not complete successfully.');\n\nreturn [{\n  json: {\n    outcome: 'failure',\n    workflow_name: \"CoreClaw Lead Operations / CoreClaw 完整线索运营\",\n    campaign_name: input.campaign_name || '',\n    run_slug: $items('Start CoreClaw Run / 启动CoreClaw任务')?.[0]?.json?.run_slug || '',\n    run_status: status.status,\n    diagnosis,\n    recommended_fix: 'Check CoreClaw run logs, verify scraper parameters and quota, then re-run with a small limit before scaling.',\n    input_snapshot: input,\n    verified_at: new Date().toISOString(),\n  },\n}];"
      }
    }
  ],
  "connections": {
    "Manual Trigger / 手动触发": {
      "main": [
        [
          {
            "node": "Input Config / 输入配置",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Config / 输入配置": {
      "main": [
        [
          {
            "node": "Start CoreClaw Run / 启动CoreClaw任务",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start CoreClaw Run / 启动CoreClaw任务": {
      "main": [
        [
          {
            "node": "Wait Before Poll / 等待轮询",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Before Poll / 等待轮询": {
      "main": [
        [
          {
            "node": "Get Run Status / 获取任务状态",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Run Status / 获取任务状态": {
      "main": [
        [
          {
            "node": "If Terminal / 是否结束",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Terminal / 是否结束": {
      "main": [
        [
          {
            "node": "If Success / 是否成功",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait Before Poll / 等待轮询",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Success / 是否成功": {
      "main": [
        [
          {
            "node": "Get Run Results / 获取任务结果",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failure Summary / 失败摘要",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Run Results / 获取任务结果": {
      "main": [
        [
          {
            "node": "Normalize Records / 标准化记录",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Records / 标准化记录": {
      "main": [
        [
          {
            "node": "Remove Duplicates / 去重",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates / 去重": {
      "main": [
        [
          {
            "node": "AI Commercial Analysis / AI商业分析",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Commercial Analysis / AI商业分析": {
      "main": [
        [
          {
            "node": "Parse AI Output / 解析AI输出",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Output / 解析AI输出": {
      "main": [
        [
          {
            "node": "Fetch Website / 抓取网站",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Website / 抓取网站": {
      "main": [
        [
          {
            "node": "Extract Website Signals / 提取网站信号",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Website Signals / 提取网站信号": {
      "main": [
        [
          {
            "node": "Prepare Destination Payloads / 准备目标系统载荷",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Destination Payloads / 准备目标系统载荷": {
      "main": [
        [
          {
            "node": "Aggregate Results / 汇总结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results / 汇总结果": {
      "main": [
        [
          {
            "node": "Success Summary / 成功摘要",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "timezone": "Asia/Shanghai"
  },
  "versionId": "lead_operations-commercial-v1",
  "meta": {
    "templateId": "coreclaw-gmaps-leads-complete-enhanced.json",
    "instanceId": "coreclaw-commercial-2026-06-12"
  },
  "tags": []
}
