coreclaw-amazon-product-intelligence.json
{
  "name": "CoreClaw亚马逊情报 / Amazon Intel",
  "nodes": [
    {
      "id": "note-overview",
      "name": "Overview / ??",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1700,
        -520
      ],
      "parameters": {
        "content": "## CoreClaw亚马逊情报 / Amazon Intel\n\n**Purpose (EN):** Amazon product intelligence.\n\n**???????** ????????\n\nThis workflow uses the official CoreClaw node as the scraping source and combines standard n8n nodes for polling, deduplication, AI enrichment, routing, reporting, and destination payload preparation.\n\n????? CoreClaw ????????????? n8n ????????????AI??????????????????",
        "width": 760,
        "height": 380
      }
    },
    {
      "id": "note-parameters",
      "name": "Parameters / ??",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -900,
        -520
      ],
      "parameters": {
        "content": "## Parameters / ????\n\nEdit **Input Config / ????** before running.\n\n**Example / ???**\n`domain=https://www.amazon.com, keyword=coffee grinder, limit=3`\n\n**Tips / ???**\n- Start with low limits for testing.\n- Increase wait_seconds for larger jobs.\n- Select your CoreClaw credential on each CoreClaw node after import.\n- ?????????????\n- ???????? wait_seconds?\n- ????? CoreClaw ?????????",
        "width": 700,
        "height": 380
      }
    },
    {
      "id": "note-flow",
      "name": "Flow / ??",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1700,
        -120
      ],
      "parameters": {
        "content": "## Flow / ??\n\n1. Trigger / ??\n2. Input Config / ????\n3. Start CoreClaw Run / ?? CoreClaw\n4. Wait + Poll / ?????\n5. Get Results / ????\n6. Normalize + Deduplicate / ??????\n7. AI or Enrichment / AI?????\n8. Prepare Payloads + Report / ?????????\n\nUse **Success Summary / ????** to inspect final output.\n?? **Success Summary / ????** ???????",
        "width": 760,
        "height": 360
      }
    },
    {
      "id": "note-output",
      "name": "Outputs / ??",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -900,
        -120
      ],
      "parameters": {
        "content": "## Outputs & Integrations / ?????\n\n**Output (EN):** Product benchmark, seller, price, rating, opportunity score, AI action.\n\n**???????** ???????????????????????\n\nRecommended next integrations:\n- Google Sheets / Google ??\n- Airtable or CRM / Airtable ? CRM\n- Slack alerts / Slack ??\n- Notion database / Notion ???\n- Gmail or email outreach / Gmail ?????",
        "width": 700,
        "height": 360
      }
    },
    {
      "id": "manual-trigger",
      "name": "Manual Trigger / ????",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1460,
        120
      ],
      "parameters": {}
    },
    {
      "id": "input-config",
      "name": "Input Config / ????",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1200,
        120
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "domain",
              "name": "domain",
              "value": "https://www.amazon.com",
              "type": "string"
            },
            {
              "id": "keyword",
              "name": "keyword",
              "value": "coffee grinder",
              "type": "string"
            },
            {
              "id": "limit",
              "name": "limit",
              "value": 3,
              "type": "number"
            },
            {
              "id": "wait_seconds",
              "name": "wait_seconds",
              "value": 20,
              "type": "number"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "start-coreclaw-run",
      "name": "Start CoreClaw Run / ??CoreClaw",
      "type": "n8n-nodes-coreclaw.coreClaw",
      "typeVersion": 1,
      "position": [
        -900,
        120
      ],
      "parameters": {
        "resource": "scraper",
        "operation": "run",
        "scraperSlug": {
          "__rl": true,
          "mode": "id",
          "value": "01KNXXZHPV394AKVGFM18E5N6B"
        },
        "version": "v1.0.5",
        "customParams": "={\n  \"keyword_list\": [{\"domain\": \"{{ $json.domain }}\", \"keyword\": \"{{ $json.keyword }}\", \"max_results\": \"{{ $json.limit }}\"}]\n}"
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "notesInFlow": true,
      "notes": "Select your CoreClaw API credential after import."
    },
    {
      "id": "wait-before-next-poll",
      "name": "Wait Before Poll / ????",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -640,
        120
      ],
      "parameters": {
        "resume": "timeInterval",
        "amount": "={{ Number($json.wait_seconds || 15) }}",
        "unit": "seconds"
      }
    },
    {
      "id": "get-run-status",
      "name": "Get Run Status / ????",
      "type": "n8n-nodes-coreclaw.coreClaw",
      "typeVersion": 1,
      "position": [
        -380,
        120
      ],
      "parameters": {
        "resource": "run",
        "operation": "get",
        "runSlug": "={{ $('Start CoreClaw Run / ??CoreClaw').item.json.run_slug }}"
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "notesInFlow": true,
      "notes": "Select your CoreClaw API credential after import."
    },
    {
      "id": "if-terminal",
      "name": "If Terminal / ????",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -120,
        120
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "if-terminal",
              "leftValue": "={{ Number($json.status) }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "if-success",
      "name": "If Success / ????",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        120,
        40
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "if-success",
              "leftValue": "={{ Number($json.status) }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "get-run-results",
      "name": "Get Run Results / ????",
      "type": "n8n-nodes-coreclaw.coreClaw",
      "typeVersion": 1,
      "position": [
        380,
        -100
      ],
      "parameters": {
        "resource": "run",
        "operation": "getResults",
        "runSlug": "={{ $('Start CoreClaw Run / ??CoreClaw').item.json.run_slug }}",
        "returnAll": false,
        "limit": "={{ Number($items(\"Input Config / ????\")?.[0]?.json?.limit || 10) }}"
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "notesInFlow": true,
      "notes": "Select your CoreClaw API credential after import."
    },
    {
      "id": "normalize-records",
      "name": "Normalize Records / ???",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        -100
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const input=$items('Input Config / ????')?.[0]?.json||{}; return $input.all().map((item,index)=>{const r=item.json; const price=Number(String(r.price||r.final_price||'').replace(/[^0-9.]/g,''))||0; const rating=Number(r.rating||r.stars||0); const reviews=Number(String(r.reviews_count||r.review_count||'').replace(/[^0-9]/g,''))||0; const score=Math.min(100,Math.round((rating*12)+(reviews>1000?25:reviews>100?15:5)+(price?10:0))); return {json:{record_key:String(r.asin||r.url||r.title||index).toLowerCase(),workflow_kind:'amazon_product_intel',title:r.title||'',brand:r.brand||'',seller_name:r.seller_name||'',price,rating,review_count:reviews,url:r.url||r.product_url||'',keyword:input.keyword,opportunity_score:score,priority:score>=75?'high':'normal',action:score>=75?'Review pricing and positioning today.':'Track as benchmark product.',raw:r}}});"
      }
    },
    {
      "id": "remove-duplicates",
      "name": "Remove Duplicates / ??",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        900,
        -100
      ],
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "record_key",
        "options": {}
      }
    },
    {
      "id": "loop-items",
      "name": "Loop Items / ????",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1160,
        -100
      ],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "ai-analysis",
      "name": "AI Analysis / AI??",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1420,
        -100
      ],
      "parameters": {
        "method": "POST",
        "url": "https://maas-coding-api.cn-huabei-1.xf-yun.com/v2/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_LLM_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specfyBody": "json",
        "jsonBody": "={\"model\":\"astron-code-latest\",\"temperature\":0.2,\"messages\":[{\"role\":\"system\",\"content\":\"Return concise JSON only for commercial workflow automation.\"},{\"role\":\"user\",\"content\":\"Analyze this record for business use. Return JSON fields: opportunity, risk, action, priority. Record: \" + JSON.stringify($json)}]}",
        "options": {
          "timeout": 60000
        }
      }
    },
    {
      "id": "parse-ai",
      "name": "Parse AI / ??AI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        -100
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return $input.all().map(item=>{const content=item.json.choices?.[0]?.message?.content||''; const cleaned=content.replace(/^s*```jsons*/i,'').replace(/```s*$/,'').trim(); let ai={}; try{ai=JSON.parse(cleaned)}catch(e){ai={raw:content}} const base=$items('Loop Items / ????')?.[0]?.json||{}; return {json:{...base,ai_opportunity:ai.opportunity||'',ai_risk:ai.risk||'',ai_action:ai.action||'',ai_priority:ai.priority||base.priority||'',ai_raw:ai}}})"
      }
    },
    {
      "id": "route-priority",
      "name": "Route Priority / ?????",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1940,
        -100
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.priority || $json.ai_priority }}",
                    "rightValue": "high",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "High"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Normal"
        }
      }
    },
    {
      "id": "noop-high-priority-queue-",
      "name": "High Priority Queue / ??????",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2200,
        -220
      ],
      "parameters": {}
    },
    {
      "id": "noop-normal-queue-",
      "name": "Normal Queue / ????",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2200,
        -20
      ],
      "parameters": {}
    },
    {
      "id": "prepare-payloads",
      "name": "Prepare Payloads / ????",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2460,
        -100
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return $input.all().map(item=>({json:{...item.json,destination_payloads:{google_sheets:item.json,airtable:{fields:item.json},slack:{text:(item.json.title||item.json.account||'CoreClaw record')+' | '+(item.json.ai_action||item.json.action||'review')},notion:{title:item.json.title||item.json.account||item.json.record_key,properties:item.json}}}}));"
      }
    },
    {
      "id": "aggregate-results",
      "name": "Aggregate Results / ????",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2720,
        -100
      ],
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "records",
        "options": {}
      }
    },
    {
      "id": "markdown-report",
      "name": "Markdown Report / Markdown??",
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        2980,
        -100
      ],
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "=## CoreClaw Automation Report\n\n{{$json.records ? $json.records.length : 0}} records prepared for business operations."
      }
    },
    {
      "id": "success-summary",
      "name": "Success Summary / ????",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3240,
        -100
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const rows=$input.all().map(i=>i.json); const st=$items('Get Run Status / ????')?.[0]?.json||{}; return [{json:{outcome:'success',workflow_name:'CoreClaw Amazon Product Intel / ???????',run_slug:$items('Start CoreClaw Run / ??CoreClaw')?.[0]?.json?.run_slug||'',run_status:st.status,result_count:st.results,returned_items:rows.length,commercial_value:'Business-ready CoreClaw workflow with AI analysis, routing, payloads, and reporting.',sample:rows.slice(0,3),verified_at:new Date().toISOString()}}];"
      }
    },
    {
      "id": "failure-summary",
      "name": "Failure Summary / ????",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        380,
        240
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const st=$items('Get Run Status / ????')?.[0]?.json||{}; return [{json:{outcome:'failure',workflow_name:'CoreClaw Amazon Product Intel / ???????',run_status:st.status,error:st.err_msg||'',verified_at:new Date().toISOString()}}];"
      }
    }
  ],
  "connections": {
    "Manual Trigger / ????": {
      "main": [
        [
          {
            "node": "Input Config / ????",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Input Config / ????": {
      "main": [
        [
          {
            "node": "Start CoreClaw Run / ??CoreClaw",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Start CoreClaw Run / ??CoreClaw": {
      "main": [
        [
          {
            "node": "Wait Before Poll / ????",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Wait Before Poll / ????": {
      "main": [
        [
          {
            "node": "Get Run Status / ????",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Get Run Status / ????": {
      "main": [
        [
          {
            "node": "If Terminal / ????",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "If Terminal / ????": {
      "main": [
        [
          {
            "node": "If Success / ????",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait Before Poll / ????",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Success / ????": {
      "main": [
        [
          {
            "node": "Get Run Results / ????",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failure Summary / ????",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Run Results / ????": {
      "main": [
        [
          {
            "node": "Normalize Records / ???",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Normalize Records / ???": {
      "main": [
        [
          {
            "node": "Remove Duplicates / ??",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Remove Duplicates / ??": {
      "main": [
        [
          {
            "node": "Loop Items / ????",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Loop Items / ????": {
      "main": [
        [
          {
            "node": "AI Analysis / AI??",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "AI Analysis / AI??": {
      "main": [
        [
          {
            "node": "Parse AI / ??AI",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Parse AI / ??AI": {
      "main": [
        [
          {
            "node": "Route Priority / ?????",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Route Priority / ?????": {
      "main": [
        [
          {
            "node": "High Priority Queue / ??????",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normal Queue / ????",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "High Priority Queue / ??????": {
      "main": [
        [
          {
            "node": "Prepare Payloads / ????",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Prepare Payloads / ????": {
      "main": [
        [
          {
            "node": "Aggregate Results / ????",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Aggregate Results / ????": {
      "main": [
        [
          {
            "node": "Markdown Report / Markdown??",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Markdown Report / Markdown??": {
      "main": [
        [
          {
            "node": "Success Summary / ????",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "versionId": "coreclaw-amazon-product-intelligence-commercial-v1",
  "meta": {
    "templateId": "coreclaw-amazon-product-intelligence",
    "instanceId": "coreclaw-commercial-pack"
  },
  "tags": []
}